.country-card {
  background-color: white;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  text-align: center;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 20vw;
}

.country-card .emoji {
  font-size: 2rem;
}

.country-card .name {
  font-weight: bold;
}

.country-card .code {
  font-size: 0.75rem;
  color: #777;
}
